.todos__dashboard {
  --dashboard-margin-top: calc(
    var(--app-background-img-height) * 0.25 * 100vw / var(--app-background-img-width)
  );
  margin-top: var(--dashboard-margin-top);
  margin-bottom: clamp(
    calc(var(--dashboard-margin-top) * 0.6),
    7vh,
    calc(var(--dashboard-margin-top) * 2)
  );
  width: calc(0.35 * 100vw);
}
@media screen and (max-width: 780px) {
  .todos__dashboard {
    width: 85vw;
  }
}

.footer__message {
  margin-top: 2em;
  text-align: center;
  color: var(--status-text-color);
  font-size: 0.75rem;
}
