.todos__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-bottom: 3rem;
}
.todos__header img {
  height: 2rem;
}
