.todos__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.875rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-bottom: 1em;
}
.todos__header img {
  height: 0.6em;
}
