.todos__statusbar {
  background: var(--todo-background-color);
  border-radius: 0 0 5px 5px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 'status filter actions';
  justify-content: space-between;
}
@media screen and (max-width: 780px) {
  .todos__statusbar {
    background: transparent;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'status actions'
      'filter filter';
  }
}

.todos__status,
.todos__actions,
.todos__filter {
  background: var(--todo-background-color);
  color: var(--status-text-color);
  font-size: 0.875rem;
  padding-block: 0.7em;
}

.todos__status {
  grid-area: status;
  padding-left: 1em;
  border-radius: 0 0 0 5px;
}

.todos__actions {
  grid-area: actions;
  padding-right: 1em;
  border-radius: 0 0 5px 0;
  cursor: pointer;
}
.todos__actions:hover {
  color: var(--todo-text-color);
}

.todos__filter {
  grid-area: filter;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-content: center;
  padding-inline: 1em;
  font-weight: var(--font-weight-bold);
}
.todos__filter input[type='radio'] {
  display: none;
}
.todos__filter input[type='radio'] + label {
  cursor: pointer;
  font-size: 0.9375rem;
}
.todos__filter input[type='radio']:hover + label {
  color: var(--todo-text-color);
}
.todos__filter input[type='radio']:checked + label {
  color: var(--color-bright-blue);
}
@media screen and (max-width: 780px) {
  .todos__filter {
    gap: 2em;
    margin-top: 1.3rem;
    border-radius: 5px;
  }
}
