:root {
  --todo-checkbox-width: 1.25rem;
}

input[type='checkbox'].checkbox {
  display: none;
}

input[type='checkbox'].checkbox + label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: var(--todo-checkbox-width); /*to deal with empty labels*/
  padding-left: calc(var(--todo-checkbox-width) + 1.3em);
}
input[type='checkbox'].checkbox:not(:disabled) + label {
  cursor: pointer;
}

input[type='checkbox'].checkbox:checked + label {
  text-decoration: line-through;
  color: var(--todo-completed-text-color);
}

input[type='checkbox'].checkbox:hover:not(:disabled):not(:checked) + label,
input[type='checkbox'].checkbox:focus:not(:disabled):not(:checked) + label {
  color: var(--todo-hover-text-color);
}

input[type='checkbox'].checkbox + label::before,
input[type='checkbox'].checkbox + label::after {
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  content: '';
  width: var(--todo-checkbox-width);
  aspect-ratio: 1 / 1;
  border: 1px solid var(--todo-border-color);
  border-radius: 100%;
  background-clip: border-box;
}
input[type='checkbox'].checkbox:checked + label::before,
input[type='checkbox'].checkbox:hover:not(:disabled):not(:checked) + label::before,
input[type='checkbox'].checkbox:focus:not(:disabled):not(:checked) + label::before {
  background: var(--gradient-check-background);
  border-color: transparent;
}
input[type='checkbox'].checkbox:checked + label::after {
  left: 1px;
  background: url(./icon-check.svg) center no-repeat;
  border-color: transparent;
}
input[type='checkbox'].checkbox:hover:not(:disabled):not(:checked) + label::after,
input[type='checkbox'].checkbox:focus:not(:disabled):not(:checked) + label::after {
  top: 0;
  left: 1px;
  width: calc(var(--todo-checkbox-width) - 2px);
  background: var(--todo-background-color);
  border-color: transparent;
}
