@value bp-mobile-screen from 'shared/styles/breakpoints.module.css';

.item {
  --todo-item-padding-block: 0.7em;
  --todo-item-padding-inline: 0.8em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: calc(var(--todo-checkbox-width) + 2 * var(--todo-item-padding-block));
  padding: var(--todo-item-padding-block) var(--todo-item-padding-inline);
}

.delete {
  visibility: hidden;
}
.item:hover .delete {
  visibility: visible;
}
@media bp-mobile-screen {
  .delete {
    visibility: visible;
  }
}

.delete img {
  width: 0.8em;
  height: 0.8em;
}
