@value bp-mobile-screen from 'shared/styles/breakpoints.module.css';

.item {
  --todo-item-padding-block: 0.7em;
  --todo-item-padding-inline: 0.8em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: calc(var(--todo-checkbox-width) + 2 * var(--todo-item-padding-block));
  padding: var(--todo-item-padding-block) var(--todo-item-padding-inline);
  color: var(--todo-text-color);
  border-bottom: 1px solid var(--todo-border-color);
}
.inputitem {
  border: none;
}

.imgdelete {
  width: 0.8em;
  height: 0.8em;
  visibility: hidden;
}
.item:hover .imgdelete {
  cursor: pointer;
  visibility: visible;
}
@media bp-mobile-screen {
  .imgdelete {
    visibility: visible;
  }
}
