@value bp-mobile-screen from 'shared/styles/breakpoints.module.css';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--todo-text-color);
  padding: 1.1em 1.25rem;
}
@media bp-mobile-screen {
  .item {
    padding-block: 1.2em;
  }
}

.delete {
  visibility: hidden;
  padding-left: 1.3em;
}
.item:hover .delete {
  visibility: visible;
}
@media bp-mobile-screen {
  .delete {
    visibility: visible;
  }
}

.delete img {
  display: inline-block;
  width: 1em;
  aspect-ratio: 1 / 1;
}
